<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Error page</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../templates/css/main.css" th:href="@{../templates/css/main.css}" />
</head>
<body >

<p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
<a href="/" th:href="@{/}">Back to Home Page</a>
</body>
</html>